<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="icon" href="/public/assets/favicon.ico">
    <script src="../script.js"></script>
    <title>Home</title>
</head>
<body>
    <form class="form-index" method="POST" action="/acad-a-home">
        <input class="module" name="module" type="text" placeholder="Module" required>
        <select class="seance" name="seance" id="" required>
            <option value="Cours">Cours</option>
            <option value="TD">TD</option>
            <option value="TP">TP</option>
        </select>
        <input class="date" name="date" type="date" required>
        <input class="time" name="time" type="time" required>
        <input class="url" name="url" type="url" placeholder="Link">
        <button class="submit" type="submit">Submit</button>
    </form>
    <form class="form-logout" action="/logout" method="GET">
        <button id="logout">Logout</button>
    </form>
    
</body>
</html>